.center 
{
vertical-align:middle;
} 
.button
{
width:25px;
height:25px;
vertical-align:middle;
}
.text_box
{
height:20px;
}
.decoration
{
text-decoration:none;
vertical-align:middle;
}
#table
{
font-family: arial, verdana, sans-serif;
font-size:small
}
#tfoot
{
background-color:lightgray;
}
#thead
{
background-color:lightgray;
}
#first_text_box
{
width:40px;
}
#second_text_box
{
width:180px;
}
#third_text_box
{
width:100px;
}
#fourth_text_box
{
width:110px;
}
#fifth_text_box
{
width:100px;
}
#col2
{
width:260px;
}
#col3
{
width:180px;
}
#col4
{
width:200px;
}
#col5
{
width:170px;
}
#select
{
height:25px;
}